html, 
body {
    height: 100%;
}

.root {
	height: 100%;
	overflow: hidden
}

*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

.App {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	margin-top: 3em;
	margin-left: 3em;
	justify-content: space-evenly;
	overflow: hidden;
	
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Piece {
	border: 2px solid black;
}

.redButton {
	color: #fff;
	background-color: rgba(159, 35, 58, 0.9);
	border-radius: 10px;
	display: inline-block;
	width: 15em;
	height: 5em;
	position: absolute;
	right: 1em;
	top: 1em;
}

.topBarStyle {
	border-radius: 5px;
	text-align: end;
	padding: 1em;
	margin-bottom: 1em;
	color: #A54C4E;
	background: linear-gradient(to bottom right, rgba(159, 35, 58, 0.5), rgba(255,255,255,0.5));
}